<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Korea Smash Site</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<header>
    <div class = "grid header-grid">
        <a href = "/">
            <img src="images/smash-logo.png" alt="smash logo" height="100" width="100">
        </a>
        <h5>사이트 소개</h5>
        <h5>초보 가이드</h5>
        <h5>프레임 데이터</h5>
        <h5>ㅁㄴㅇㄹ</h5>
        <h5>아무거나</h5>
    </div>
    <div class="item-wrapper">
        <img src="images/everyone-is-here.jpg" alt="everyone is here" class = "main-image">
        <div class="main-text">
            <h1>
                <a href="index.html">난투!</a>
            </h1>
            <h1>
                <a href="index.html">메롱!</a>
            </h1>
        </div>
    </div>
</header>
<div style="display:inline-block">
    <input type="text" placeholder="검색어를 입력해주세요." style="width:500px">
    <button>검색</button>
</div>
<div class="notice">
    <h2 class="notice-title">공지에여</h2>
    <h3 class="notice-date">2021년8월30일</h3>
    <div class="notice-article">
        <p>
            이곳에 이러저러한 공지를 올릴겁니다. 제가 무슨 말을 하고 있는지 저도 모르겠네요. 그래도 재밌게 감상해주셨으면 좋겠습니다. 이 사이트는 연습용으로 제작되고 있는 사이트지만 많은 분들에게 배포하여 의미있는 사이트로 발전할 수 있으면 좋겠다는 생각으로 개발하고 있습니다. 앞으로도 많은 분들의 사랑과 관심을 부탁드립니다.
        </p>
    </div>
    <button>더보기</button>
</div>
<div class="notice">
    <h2 class="notice-title">공지에여</h2>
    <h3 class="notice-date">2021년8월30일</h3>
    <div class="notice-article">
        <p>
            이곳에 이러저러한 공지를 올릴겁니다. 제가 무슨 말을 하고 있는지 저도 모르겠네요. 그래도 재밌게 감상해주셨으면 좋겠습니다. 이 사이트는 연습용으로 제작되고 있는 사이트지만 많은 분들에게 배포하여 의미있는 사이트로 발전할 수 있으면 좋겠다는 생각으로 개발하고 있습니다. 앞으로도 많은 분들의 사랑과 관심을 부탁드립니다.
        </p>
    </div>
    <button>더보기</button>
</div>
<div class="notice">
    <h2 class="notice-title">공지에여</h2>
    <h3 class="notice-date">2021년8월30일</h3>
    <div class="notice-article">
        <p>
            이곳에 이러저러한 공지를 올릴겁니다. 제가 무슨 말을 하고 있는지 저도 모르겠네요. 그래도 재밌게 감상해주셨으면 좋겠습니다. 이 사이트는 연습용으로 제작되고 있는 사이트지만 많은 분들에게 배포하여 의미있는 사이트로 발전할 수 있으면 좋겠다는 생각으로 개발하고 있습니다. 앞으로도 많은 분들의 사랑과 관심을 부탁드립니다.
        </p>
    </div>
    <button>더보기</button>
</div>
<div class="notice">
    <h2 class="notice-title">공지에여</h2>
    <h3 class="notice-date">2021년8월30일</h3>
    <div class="notice-article">
        <p>
            이곳에 이러저러한 공지를 올릴겁니다. 제가 무슨 말을 하고 있는지 저도 모르겠네요. 그래도 재밌게 감상해주셨으면 좋겠습니다. 이 사이트는 연습용으로 제작되고 있는 사이트지만 많은 분들에게 배포하여 의미있는 사이트로 발전할 수 있으면 좋겠다는 생각으로 개발하고 있습니다. 앞으로도 많은 분들의 사랑과 관심을 부탁드립니다.
        </p>
    </div>
    <button>더보기</button>
</div>
</body>
</html>